#contact {
    max-width: 1040px;
    padding-top: 248px;
    margin: 0 auto;
    text-align: center;
}

#contact-list {
    max-width: 400px;
    margin: 0 auto;
    max-height: 80px;
}

#contact-text h3 {
    font: var(--subtitle);
    color: var(--purple);
}

#contact-text h2 {
    font: var(--title-md);
    color: var(--gray-100);
    padding-top: 8px;
    padding-bottom: 8px;
}

#contact-text p {
    font: var(--text-md);
    color: var(--gray-200);
    padding-bottom: 48px;
}

#contact-list p {
    font: var(--text-md);
    color: var(--gray-200);
    margin-left: 12px;
}

#contact-list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#contact-list li {
    background: var(--gray-400);
    border-radius: 8px;
    padding: 20px;

    display: flex;
    align-items: center;

    border: 1.5px solid transparent;
}

#contact-list img:first-of-type{
    width: 28px;
    height: 28px;
}

#contact-list img:last-of-type{
    width: 20px;
    height: 20px;
    margin-left: auto;
}

#contact-list li:hover {
    border: 1.5px solid var(--blue);
}