* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --asap: "Asap", sans-serif;
    --inconsolata: "Inconsolata", monospace;
    --maven: "Maven Pro", sans-serif;

    --title-lg: bold 56px/120% var(--asap);
    --title-md: bold 24px/120% var(--asap);
    --title-sm: bold 16px/120% var(--asap);

    --subtitle: 20px/120% var(--inconsolata);

    --text-md: 16px/140% var(--maven);
    --text-sm: 14px/140% var(--maven);
}

ul {
    list-style: none;
}

body {
    font: var(--text-sm);
    color: var(--gray-300);
}

#container {
    min-height: 2894px;

    background-image: url("assets/images/Background_Intro.png"), linear-gradient(var(--gray-500), var(--gray-500)),
        linear-gradient(var(--gray-600), var(--gray-600)), url("assets/images/Background_Contacts.png");

    background-size: 100% 750px, 100% 917px, 100% 480px, 100% 747px;

    background-position: top left, left 750px, left 1667px,
        left 2147px;

    background-repeat: no-repeat;
    background-color: var(--gray-600);
}