* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --asap: "Asap", sans-serif;
    --inconsolata: "Inconsolata", monospace;
    --maven: "Maven Pro", sans-serif;

    --title-lg: 56px/120% bold var(--asap);
    --title-md: 24px/120% bold var(--asap);
    --title-sm: 16px/120% bold var(--asap);

    --subtitle: 20px/120% normal var(var(--inconsolata));

    --text-md: 16px/140% normal var(var(--maven));
    --text-sm: 14px/140% normal var(var(--maven));
}

body {
    font: var(--text-sm);
    color: var(--gray-300);
}