#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 1040px;
    padding: 120px
}

#avatar {
    position: relative;
    display: flex;
    justify-content: center;
}

#avatar, #introText {
    max-width: 680px;
}

#introText {
    padding-top: 56px;
    padding-bottom: 80px;
}

#introText p:first-child {
    padding-bottom: 8px;
    font: var(--subtitle);
    color: var(--gray-200);
}

#destaque {
    color: var(--red)
}

#introText p:last-child {
    padding-top: 20px;
    color: var(--gray-300);
}

#introIcons ul {
    display: flex;
    gap: 16px;
}

#introIcons li {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-400);
    border-radius: 999px;
    padding: 8px 16px;
    font: var(--text-md);
    color: var(--gray-200);
}

ul img {
    width: 24px;
}

#scroll {
    padding-top: 94px;
    width: 32px;
}

#introText h1 {
    font: var(--title-lg);
    color: var(--gray-100);
}