#services #projectsText {
    margin-top: 232px;
}

#services-list {
    max-width: 888px;
    margin: 0 auto;
}

#services-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 56px;
    padding: 0;
    min-width: 280px;
}

#services-list li {
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    padding: 20px;
}

#services-list img {
    width: 48px;
    margin-bottom: 20px;
}

#services-list p {
    margin-top: 8px;
    font: var(--text-sm);
    color: var(--gray-200);
}

#services-list h3 {
    font: var(--title-sm);
    color: var(--gray-100);
}